/.build
*.sublime-workspace
*.pri
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lot
*.out
*.xml
*.toc

example_URK.acn
example_URK.glo
example_URK.ist
example_URK.lol
example_URK.synctex.gz